@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Messages beetween the user and their friends as a graph <a class="nav-link text-dark" asp-area="" asp-page="Messages">here</a></p>
    <p>Posts by the user as a calendar <a class="nav-link text-dark" asp-area="" asp-page="Posts">here</a></p>
</div>
